RewriteEngine On

<FilesMatch "^\.env">
    Require all denied
</FilesMatch>

RewriteRule ^app/ - [F,L]
RewriteRule ^$ public/ [L]
RewriteCond %{REQUEST_URI} !^/masimen/public/
RewriteRule ^(.*)$ public/$1 [L]